@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap');

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #0B1120;
}